body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(99, 2, 99); /* For browsers that do not support gradients */
  background-image: linear-gradient(rgb(99, 2, 99), rgb(226, 8, 226));
}



.body-container {
  display: flex;
}